# General
.DS_Store
.idea/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*

# iOS/Firebase related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/.symlinks/
**/ios/Flutter/AppFrameworkInfo.plist
**/ios/Flutter/podhelper.rb
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/
**/ios/.generated/
GoogleService-Info.plist

# Firebase configuration files
google-services.json


# VS Code
.vscode/
